# Environment
.env

# VS Code
.vscode/

# Build
bin/
obj/

# Logs
*.log

# Export files
*.xml
data_export.json
export_odoo_*.xml

# Temp files
*.bak
*.txt

# Config
appsettings.Development.json
appsettings.*.json

# Migrations
Migrations/

publish/

appsettings.json